header(class="header")
	a(href="/")
		img(class="header__logo", src="./assets/images/logo.png", alt="benjamin moore logo")
	svg(class="header__hamburger", width='50px', height='34px', viewbox='0 0 50 34')
		g
			rect(fill='#003E8D', width='50', height='2')
			rect(y='32', fill='#003E8D', width='50', height='2')
			rect(y='16', fill='#003E8D', width='50', height='2')
		//- g(class="header__hamburgerOff")
		//- 	rect(x="0", y="16", transform="matrix(-0.8434 -0.5374 0.5374 -0.8434 36.9491 44.7704)", fill="#000000", width="50", height="2")
		//- 	rect(x="0", y="16", transform="matrix(0.8434 -0.5374 0.5374 0.8434 -5.2187 16.0966)", fill="#000000", width="50", height="2")

	nav(class="nav")
		ul(class="nav__list")
			li(class="nav__item")
				a(href="#regular") 定期定額
			li(class="nav__item")
				a(href="#meal") 套餐介紹
			li(class="nav__item")
				a(href="#online") 線上開戶
			li(class="nav__item")
				a(href="#investment") 投資好夥伴
			li(class="nav__item")
				a(href="#discount") 優惠說明