//- include /jadeTemplate/_header.jade

doctype html
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title
		link(rel="stylesheet" href="./assets/styles/main.css")
	body
		include /jadeTemplate/_header.jade
		main
			picture.human
					img(src="./assets/images/human.png")

			section.section
				
				p.section__text
						strong 富蘭克林 #定期定額 投資
				p.section__text 每月
					strong 2,000
					| 元起就能開始
					span 自動化分批買進
					| 不必擔心一次買在最高點!
				br
				br
				p.section__text.highlight 新朋友線上開戶，送紅利3,000點
				div.section__btn
					a 免費開戶
					span
					a 我要申購
			section.section
				div
					img(src="./assets/images/time&money.png")
				div
					h2.title 只要選對方法
						br
						| 隨時都是進場時機
					br
					br
					p.section__text 股市漲漲跌跌，不斷等待卻又老是錯過低點?
						br
						| 到底
						strong 何時才是進場投資好時機？
						br
						br
						| 如果你看好的是
						strong 未來長線的成長趨勢
						br
						| 建議可以透過 
						san.bold #定期定額 
						| 買基金
						br
						| 隨時都能開始定期投資，讓投資專家帶你長期佈局!
					div.section__btn
						a 定期定額基金套餐 搶先進場
			section.section
				h2.title 什麼是定期定額投資?
				br
				br
				p.section__text 所謂 
					strong #定期定額 
					| 就是事先設定好要投資的基金、與每期投資金額，透過自動化轉帳代繳服務，由系統代為定期買進、分批布局，例如：每個月6號，自你指定的銀行自動轉出3,000元，用於買進某基金。
					br
					br
					| 這種定期/自動的投資方式，能讓你不必再煩惱於自行研判買進時機點，同時，也因為是每個月的小額分批投資，最終還能達到分散進場風險、平均投資成本的好處。
				br
				br
				h3.title__sub 連續6個月用150元買金魚，看定期定額如何加速攤平成本?
				br
				br
				div
					img(src="./assets/images/table.png")
				br
				br
				br
				p.section__text 150元定期定額，實際購入成本：
					span 900元 / 44尾 = 
						strong 21.5元 
						| / 尾
				p.section__text 6個月以來，金魚市場平均售價：160元 / 6尾 = 26.7元尾。
			section.section
				h2.title 定期定額就從
					br
					| 2,000元買2檔基金開始
				br
				p.section__text 專為
					strong 剛要開始投資的你
					| 設計，讓你選擇不困難
					br
					| 用小額投資加倍累積投資經驗值
				br
				br
				div.setMeal
					div
						img(src="./assets/images/women.png")
					div
						h4.setMeal__title 向前衝基金套餐
							span 適合
								strong 積極追求報酬
								| 的你
						br
						div.setMeal__item 
							p.setMeal__text 全球醫療保健基金
								span 佈局歐美亞太，追求穩健成長
						div.setMeal__item
							p.setMeal__text 中國A股基金
								span 純度投資A股，深入中國內地市場
						div.setMeal__btn
							a 免費開戶
							span
							a 我要申購
						p.setMeal__discount 網路定期定額
							string 終身0元手續費!
				div.setMeal
					div
						img(src="./assets/images/men.png")
					div
						h4.setMeal__title 飆速跑基金套餐
							span 適合
								strong 積追求趨勢成長
								| 的你
						br
						div.setMeal__item 
							p.setMeal__text 富蘭克林華美高科技基金
								span 發掘台灣新產品、新市場、新機會契機
						div.setMeal__item
							p.setMeal__text 富蘭克林華美新世界股票基金
								span 佈局全球，分享新興經濟體的高成長動能
						div.setMeal__btn
							a 免費開戶
							span
							a 我要申購
						p.setMeal__discount 網路定期定額
							string 終身0元手續費!
			section.section
				h2.title 有網路就能隨時開始
				p.section__text 只要2步驟，完成線上開戶預約，開始 
					strong #定期定額 
					| 投資囉!
				div.step
					div
						img(src="./assets/images/computer.png")
					div
						div.step__item
							h3.step__title 線上開戶填表5分鐘
							p 資料填寫包括個資、聯絡方式等，方便讓我們將投資與紅利回饋登記在你的名下。
						div.step__item
							h3.step__title 約定銀行自動轉帳授權
							p 請填寫一組常用的銀行帳號，授權投資款自動匯入或轉出，不必出門臨櫃辦理哦。
					div.step__btn
						a 線上開戶 送紅利3000點
				p.section__text.highlight 最超值的
					strong 手續費0元
					| 優惠
					span 只到2020/12/31止
					span 現在就透過線上開戶
			section.section
				h2.title 投資找阿富！網路理財的好夥伴
				p.section__text 投資找阿富！網路理財的好夥伴。
					br
					br
					| 富蘭克林華美投信2002年成立於台北，陸續在台中、高雄、新竹、台南皆有設立分公司，以在地菁英團隊，為台灣的投資大眾提供具全球視野的投資服務，為美國「富蘭克林坦伯頓基金集團」在台投資企業。
					br
					br
					| 網路交易服務提供 富蘭克林華美系列 與 富蘭克林坦伯頓系列 的境內外基金投資服務，包括累積型與各種配息型級別基金。
					br
					br
					| 關於基金理財的各項諮詢，歡迎利用免費專線 0800-088-899 、或利用
					a(href="/" target="_blank")
						strong 線上留言
					| 與我們聯絡。
				img(src="./assets/images/protagonist.png")
			section.section
				h2.title 優惠方案說明
				br
				br
				p.section__text
					strong 〈 手續費0元優惠 〉
					| 此活動屬網路申購優惠活動，不適用紙本申購，不開放紙本異動契約。
					br
					| 以上優惠限以台幣申購，並透過網路「2000元買2檔基金」下單專頁申購，精選定期定額優惠組合(兩檔同時申購)，每檔基金最低申購金額為新台幣一千元。
					br
					br
					| 境內基金優惠期間: 即日起 PM4:01-12/31 PM 4:00(以委託確認時間為準)。
					br
					| 境內基金定期定額優惠：最低申購金額為新台幣一千元，享有終身0%手續費優惠，若未來變更為其他基金，或連續三次扣款失敗，則視同終止契約，自動取消優惠資格，不另行通知。
					br
					br
					strong 〈開戶紅利3千點〉
					| 成功成為富蘭克林華美投信 境內、境外基金網路交易戶〈可網路下單〉，即可獲贈紅利3,000點〈包含境內紅利1,500點、境外紅利1,500點〉。點數匯入時間：隔週一下午四點匯入。點數使用期限：自匯入日起算，一年內有效。相關說明請詳見以下網頁： 紅利點數使用說明。
					br
					br
					| 活動內容如有調整，本公司保留活動變更之權利。
		footer.footer
			div.footer__info
				div
					img(src="./assets/images/logo.png")					
				div
					p.footer__tel 基金專線 
						strong 0800-088-899
			p.footer__text 富蘭克林華美證券投資信託股份有限公司 107金管投信新字第006號
			div.footer__contant
				div
					p.footer__text.footer__name 台北總公司
					p.footer__text.footer__addr 106台北市大安區忠孝東路四段87號12樓
					p.footer__text 電話：(02)2781-9599
					p.footer__text 傳真：(02)2781-8299
				div
					p.footer__text.footer__name 新竹分公司
					p.footer__text.footer__addr 302新竹縣竹北市自強南路8號11樓之5
					p.footer__text 電話：(03)668-1988
					p.footer__text 傳真：(03)657-9258
				div
					p.footer__text.footer__name 台中分公司
					p.footer__text.footer__addr 404台中市北區文心路4段208-1號11樓之1
					p.footer__text 電話：(04)2293-2988
					p.footer__text 傳真：(04)2295-6588
				div
					p.footer__text.footer__name 台南分公司
					p.footer__text.footer__addr 700臺南市中西區民生路二段307號12樓之1
					p.footer__text 電話：(06)225-3788
					p.footer__text 傳真：(06)225-3299
				div
					p.footer__text.footer__name 高雄分公司
					p.footer__text.footer__addr 802高雄市苓雅區海邊路31號27樓之1
					p.footer__text 電話：(07)269-3555
					p.footer__text 傳真：(07)269-3518





				


script(src="./assets/scripts/TweenMax.min.js")
script(src="./assets/scripts/jquery.min.js")
script(src="./assets/scripts/typeWriter.js")
script(src="./assets/scripts/main.js")