@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box; }

body, html {
  position: relative;
  font-family: 'Noto Sans TC', '微軟正黑體'; }

@keyframes circle {
  from {
    transform: scale(1.15) rotate(-2deg); }
  to {
    transform: scale(1.15) rotate(2deg); } }
body::before {
  content: '';
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  @media screen and (max-width: 768px) {
    body::before {
      background-image: url("../images/bg-m.jpg"); } }
body::after {
  content: '';
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../images/mask.png");
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  transform: scale(1.15) rotate(-2deg);
  z-index: -1; }
  @media screen and (max-width: 768px) {
    body::after {
      background-image: url("../images/mask-m.png"); } }

.loop::after {
  animation: circle 0.5s linear 6 alternate; }

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  background-color: #fff;
  padding: 15px 40px;
  z-index: 1000;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 1200px) {
    .header {
      padding: 10px 15px; } }
  .header__logo {
    width: 145px;
    height: auto; }
  .header__hamburger {
    display: none;
    width: 30px;
    height: auto;
    margin-left: auto;
    cursor: pointer;
    z-index: 100; }
    .header__hamburger rect {
      transition: all 0.25s ease-out; }
    @media screen and (max-width: 1200px) {
      .header__hamburger {
        display: block; } }
  .header__hamburgerOff {
    display: none; }
  .header__hamburger--close rect:nth-child(1) {
    fill: #000000;
    transform: translate(7px, -2px) rotate(45deg); }
  .header__hamburger--close rect:nth-child(2) {
    fill: #000000;
    transform: translate(-15px, 10px) rotate(-45deg); }
  .header__hamburger--close rect:nth-child(3) {
    opacity: 0; }

.nav {
  margin-left: auto;
  color: #FFFFFF; }
  @media screen and (max-width: 1200px) {
    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.9);
      color: #000000;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease; }
      .nav--active {
        opacity: 1;
        visibility: visible; } }
  @media screen and (max-width: 1200px) {
    .nav__list {
      font-size: 1.4em;
      text-align: center; } }
  .nav__item {
    display: inline-block;
    margin-right: 2em;
    transition: color 0.1s ease-out;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px; }
    .nav__item:hover a {
      color: #ea5404; }
    .nav__item a {
      display: block;
      position: relative;
      color: #003E8D; }
    .nav__item:last-child {
      margin-right: 0; }
    @media screen and (max-width: 1200px) {
      .nav__item {
        display: block;
        margin: 30px 0;
        color: #878787; } }

.human {
  z-index: 1;
  position: relative;
  opacity: 0;
  width: 100%;
  max-width: 600px;
  display: block;
  margin: auto;
  transform: translateY(120px);
  background-image: url("../images/human.png");
  animation: human 1.5s steps(3) infinite;
  background-size: 100% auto; }
  .human::before {
    content: '';
    padding-bottom: 83.842794%;
    display: block; }
  @media screen and (max-width: 992px) {
    .human {
      transform: translateY(100px);
      max-width: 300px; } }

main {
  width: 100%;
  max-width: 1200px;
  margin: 70px auto 0; }
  @media screen and (max-width: 1200px) {
    main {
      width: 90%; } }

strong {
  font-weight: bold !important; }
  strong span {
    font-size: 1.25em;
    color: red; }

.highlight {
  color: #E84C0B !important;
  font-size: 14px;
  line-height: 20px; }

.intro {
  pointer-events: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }
  .intro > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px; }
    @media screen and (max-width: 992px) {
      .intro > div {
        max-width: 300px; } }
    .intro > div:nth-of-type(1) .intro__loop {
      background-image: url("../images/a.png"); }
    .intro > div:nth-of-type(2) .intro__loop {
      background-image: url("../images/b.png"); }
    .intro > div:nth-of-type(3) .intro__loop {
      animation: human 1.5s steps(3) infinite;
      background-image: url("../images/c.png"); }
    .intro > div::before {
      content: '';
      padding-bottom: 83.842794%;
      display: block; }
  .intro__loop {
    opacity: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-size: 100% auto;
    animation: loop 3s steps(2) infinite;
    position: absolute;
    top: 0%;
    left: 0%; }
  .intro__sprite {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

.section {
  width: 100%;
  padding: 80px 100px;
  border-left: 8px solid #0161DD;
  border-right: 8px solid #0161DD; }
  @media screen and (max-width: 768px) {
    .section {
      padding: 50px 20px; } }
  .section__loop {
    position: relative;
    width: 100%;
    max-width: 450px;
    background-size: 100% auto;
    animation: loop 2s steps(2) infinite; }
    .section__loop::before {
      content: '';
      display: block;
      padding-bottom: 77.777777%; }
  .section__btn {
    cursor: pointer;
    overflow: hidden; }
  .section:nth-of-type(1) {
    padding-top: 200px;
    margin-top: -120px;
    padding-bottom: 100px;
    border-radius: 20px 20px 0 0;
    border-top: 8px solid #0161DD;
    background: linear-gradient(178.17deg, #FFCE21 0.81%, #F7CE45 9.03%, #F7CE45 56.62%); }
    .section:nth-of-type(1) .section__text {
      text-align: center;
      color: #081E6A; }
      .section:nth-of-type(1) .section__text:nth-of-type(2) span::before {
        content: '，'; }
      .section:nth-of-type(1) .section__text:nth-of-type(2) span::after {
        content: '，'; }
      @media screen and (max-width: 992px) {
        .section:nth-of-type(1) .section__text:nth-of-type(2) span {
          display: block; }
          .section:nth-of-type(1) .section__text:nth-of-type(2) span::before {
            content: ''; }
          .section:nth-of-type(1) .section__text:nth-of-type(2) span::after {
            content: ''; } }
      .section:nth-of-type(1) .section__text:nth-of-type(3) > span {
        display: none; }
        @media screen and (min-width: breakpoint-lg) {
          .section:nth-of-type(1) .section__text:nth-of-type(3) > span {
            display: block; } }
    .section:nth-of-type(1) .section__btn {
      width: 100%;
      max-width: 500px;
      margin: auto;
      margin-top: 25px;
      background: #14378A;
      box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
      border-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media screen and (max-width: 992px) {
        .section:nth-of-type(1) .section__btn {
          border-radius: 15px; } }
      .section:nth-of-type(1) .section__btn a {
        position: relative;
        width: 100%;
        font-size: 28px;
        line-height: 41px;
        text-align: center;
        letter-spacing: 0.1em;
        color: #FFFFFF;
        cursor: pointer;
        padding: 15px 0px;
        overflow: hidden; }
        .section:nth-of-type(1) .section__btn a:first-child::before {
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px; }
        .section:nth-of-type(1) .section__btn a:first-child::after {
          border-top-left-radius: 25px;
          border-bottom-left-radius: 25px; }
        .section:nth-of-type(1) .section__btn a:last-child::before {
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px; }
        .section:nth-of-type(1) .section__btn a:last-child::after {
          border-top-right-radius: 25px;
          border-bottom-right-radius: 25px; }
        .section:nth-of-type(1) .section__btn a::before, .section:nth-of-type(1) .section__btn a::after {
          content: '';
          position: absolute;
          top: 0;
          left: -1px;
          width: 100%;
          height: 100%;
          z-index: 1;
          background-color: rgba(0, 0, 0, 0.2);
          transition: transform 0.3s;
          transform: translate(-100%, 0);
          transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
        .section:nth-of-type(1) .section__btn a::after {
          transition-delay: 0.2s; }
        .section:nth-of-type(1) .section__btn a:hover::before, .section:nth-of-type(1) .section__btn a:hover::after {
          transform: translate(0, 0); }
        .section:nth-of-type(1) .section__btn a p span::before {
          content: ' '; }
        @media screen and (max-width: 992px) {
          .section:nth-of-type(1) .section__btn a p span {
            display: block; }
            .section:nth-of-type(1) .section__btn a p span::before {
              content: ''; } }
        @media screen and (max-width: 992px) {
          .section:nth-of-type(1) .section__btn a {
            font-size: 18px;
            line-height: 26px;
            padding: 12px 0px; } }
    @media screen and (max-width: 992px) {
      .section:nth-of-type(1) {
        margin-top: -150px; } }
    @media screen and (max-width: 992px) {
      .section:nth-of-type(1) strong span {
        display: block; } }
  .section__text {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 1px; }
  .section:nth-of-type(2) {
    background-color: #14378A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    @media screen and (max-width: 992px) {
      .section:nth-of-type(2) {
        justify-content: flex-start; } }
    .section:nth-of-type(2) .section__loop {
      background-image: url("../images/time&money.png"); }
    .section:nth-of-type(2) > div {
      width: 50%; }
      @media screen and (max-width: 992px) {
        .section:nth-of-type(2) > div {
          width: 100%; } }
    .section:nth-of-type(2) .title {
      color: #FFFFFF;
      margin-bottom: 40px; }
      @media screen and (min-width: 992px) {
        .section:nth-of-type(2) .title span::before {
          content: '，'; } }
      @media screen and (max-width: 992px) {
        .section:nth-of-type(2) .title span {
          display: block; } }
      @media screen and (max-width: 992px) {
        .section:nth-of-type(2) .title {
          text-align: left; } }
    .section:nth-of-type(2) .section__text {
      color: #FFF; }
      @media screen and (max-width: 992px) {
        .section:nth-of-type(2) .section__text {
          font-size: 14px;
          line-height: 20px; } }
    .section:nth-of-type(2) .section__btn {
      position: relative;
      overflow: hidden;
      margin-top: 25px;
      width: 100%;
      max-width: 500px;
      margin-top: 25px;
      background: #FFC805;
      box-shadow: 5px 5px 0px rgba(255, 253, 253, 0.5);
      border-radius: 25px;
      padding: 15px 0px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .section:nth-of-type(2) .section__btn::before, .section:nth-of-type(2) .section__btn::after {
        content: '';
        border-radius: 25px;
        position: absolute;
        top: 0;
        left: -1px;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(222, 80, 0, 0.5);
        transition: transform 0.3s;
        transform: translate(-100%, 0);
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
      .section:nth-of-type(2) .section__btn::after {
        transition-delay: 0.2s; }
      .section:nth-of-type(2) .section__btn:hover::before, .section:nth-of-type(2) .section__btn:hover::after {
        transform: translate(0, 0); }
      .section:nth-of-type(2) .section__btn a {
        position: relative;
        z-index: 3;
        font-weight: bold;
        font-size: 28px;
        line-height: 41px;
        text-align: center;
        letter-spacing: 0.1em;
        color: #14378A; }
        .section:nth-of-type(2) .section__btn a::after {
          content: ' 搶先進場'; }
        @media screen and (max-width: 992px) {
          .section:nth-of-type(2) .section__btn a {
            font-size: 18px;
            line-height: 26px; }
            .section:nth-of-type(2) .section__btn a::after {
              content: '搶先進場';
              display: block; } }
      @media screen and (max-width: 992px) {
        .section:nth-of-type(2) .section__btn {
          padding: 6px 0px;
          border-radius: 15px; } }
  .section:nth-of-type(3) {
    background: linear-gradient(178.17deg, #FFCE21 0.81%, #F7CE45 9.03%, #F7CE45 56.62%); }
    .section:nth-of-type(3) .title {
      color: #003E8D;
      text-align: center; }
      .section:nth-of-type(3) .title__sub {
        color: #003E8D; }
      @media screen and (max-width: 320px) {
        .section:nth-of-type(3) .title {
          text-align: left; }
          .section:nth-of-type(3) .title span {
            display: block; } }
    .section:nth-of-type(3) .section__text {
      color: #222; }
      .section:nth-of-type(3) .section__text:nth-last-child(2) {
        color: #003E8D;
        position: relative; }
        .section:nth-of-type(3) .section__text:nth-last-child(2) strong {
          font-size: 36px;
          line-height: 52px; }
          @media screen and (max-width: 320px) {
            .section:nth-of-type(3) .section__text:nth-last-child(2) strong {
              font-size: 26px; } }
        .section:nth-of-type(3) .section__text:nth-last-child(2) span {
          position: relative; }
          @media screen and (max-width: 768px) {
            .section:nth-of-type(3) .section__text:nth-last-child(2) span {
              display: block;
              margin-top: 20px; } }
          @media screen and (max-width: 320px) {
            .section:nth-of-type(3) .section__text:nth-last-child(2) span {
              margin-top: 40px; } }
        .section:nth-of-type(3) .section__text:nth-last-child(2) img {
          width: 80px; }
          @media screen and (max-width: 768px) {
            .section:nth-of-type(3) .section__text:nth-last-child(2) img {
              width: 50px;
              position: absolute;
              bottom: 40px;
              right: 0px; } }
      .section:nth-of-type(3) .section__text:nth-last-child(1) {
        color: #000; }
      @media screen and (max-width: 992px) {
        .section:nth-of-type(3) .section__text {
          font-size: 14px;
          line-height: 20px; } }
    .section:nth-of-type(3) > div {
      width: 100%; }
      .section:nth-of-type(3) > div img {
        width: 100%; }
  .section:nth-of-type(4) {
    background-color: #FFF; }
    .section:nth-of-type(4) .title {
      color: #003E8D;
      text-align: center; }
      @media screen and (max-width: 992px) {
        .section:nth-of-type(4) .title {
          text-align: left; } }
    .section:nth-of-type(4) .section__text {
      text-align: center; }
      @media screen and (max-width: 992px) {
        .section:nth-of-type(4) .section__text {
          font-size: 14px;
          line-height: 20px;
          text-align: left; } }
  .section:nth-of-type(5) {
    background: linear-gradient(178.17deg, #FFCE21 0.81%, #F7CE45 9.03%, #F7CE45 56.62%); }
    .section:nth-of-type(5) .title {
      color: #003E8D;
      text-align: center; }
    .section:nth-of-type(5) .section__loop {
      background-image: url("../images/computer.png"); }
    .section:nth-of-type(5) .section__text {
      text-align: center;
      margin-top: 20px; }
      @media screen and (max-width: 992px) {
        .section:nth-of-type(5) .section__text {
          font-size: 14px;
          line-height: 20px;
          text-align: left; } }
      .section:nth-of-type(5) .section__text:last-child {
        text-align: center; }
      @media screen and (max-width: 576px) {
        .section:nth-of-type(5) .section__text > span:nth-of-type(1) {
          display: block; } }
      .section:nth-of-type(5) .section__text > span:nth-of-type(1)::after {
        content: '，'; }
        @media screen and (max-width: 992px) {
          .section:nth-of-type(5) .section__text > span:nth-of-type(1)::after {
            content: '，現在就透過線上開戶'; } }
      .section:nth-of-type(5) .section__text > span:nth-of-type(2) {
        display: block; }
        .section:nth-of-type(5) .section__text > span:nth-of-type(2)::after {
          content: '現在就透過線上開戶，和大家一起加入投資吧！'; }
          @media screen and (max-width: 992px) {
            .section:nth-of-type(5) .section__text > span:nth-of-type(2)::after {
              content: '和大家一起加入投資吧！'; } }
  .section:nth-of-type(6) {
    position: relative;
    background-color: #14378A; }
    .section:nth-of-type(6) .title {
      color: #FFF; }
      @media screen and (max-width: 992px) {
        .section:nth-of-type(6) .title span {
          display: block; } }
    .section:nth-of-type(6) .section__text {
      color: #FFF;
      margin-top: 40px;
      width: 67%; }
      @media screen and (max-width: 992px) {
        .section:nth-of-type(6) .section__text {
          width: 100%;
          font-size: 14px;
          line-height: 20px;
          text-align: justify; } }
    .section:nth-of-type(6) img {
      position: absolute;
      bottom: 0;
      right: 40px;
      display: block;
      width: 100%;
      max-width: 275px; }
      @media screen and (max-width: 992px) {
        .section:nth-of-type(6) img {
          width: 100%;
          position: unset;
          margin: auto; } }
    .section:nth-of-type(6) a {
      color: #FFF;
      text-decoration: underline; }
    @media screen and (max-width: 992px) {
      .section:nth-of-type(6) {
        padding-bottom: 0; } }
  .section:nth-of-type(7) {
    background-color: #FFF; }
    .section:nth-of-type(7) .title {
      color: #003E8D;
      text-align: center; }
    @media screen and (max-width: 992px) {
      .section:nth-of-type(7) .section__text {
        font-size: 14px;
        line-height: 20px;
        text-align: justify; } }

.title {
  font-weight: 900;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 0.05em; }
  .title__sub {
    font-weight: bold;
    font-size: 24px;
    line-height: 35px; }
    @media screen and (max-width: 992px) {
      .title__sub {
        font-size: 14px;
        line-height: 20px; } }
  @media screen and (max-width: 992px) {
    .title {
      font-size: 28px;
      line-height: 41px; } }
  @media screen and (max-width: 320px) {
    .title {
      font-size: 22px; } }

.setMeal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .setMeal .section__loop {
    background-image: url("../images/women.png"); }
  .setMeal > div {
    width: 50%; }
    .setMeal > div img {
      width: 100%; }
    @media screen and (max-width: 992px) {
      .setMeal > div {
        width: 100%; }
        .setMeal > div:first-child {
          margin-bottom: 20px; } }
  .setMeal:last-child {
    margin-top: 60px;
    flex-direction: row-reverse; }
    .setMeal:last-child .section__loop {
      background-image: url("../images/men.png"); }
    @media screen and (max-width: 992px) {
      .setMeal:last-child {
        flex-direction: unset; } }
  .setMeal__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
    color: #003E8D; }
    .setMeal__title span {
      display: block;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: 0.05em;
      color: #003E8D; }
    @media screen and (max-width: 992px) {
      .setMeal__title {
        font-size: 24px;
        line-height: 35px; }
        .setMeal__title span {
          font-size: 14px;
          line-height: 20px; } }
  .setMeal__item {
    width: 100%;
    border-left: 4px solid rgba(0, 0, 0, 0.8); }
    .setMeal__item:nth-of-type(1) {
      margin-bottom: 15px; }
  .setMeal__text {
    padding-left: 15px;
    font-weight: bold;
    font-size: 28px;
    line-height: 41px;
    color: #000000; }
    .setMeal__text span {
      display: block;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      color: #000; }
    @media screen and (max-width: 992px) {
      .setMeal__text {
        font-size: 18px;
        line-height: 26px; }
        .setMeal__text span {
          font-size: 14px;
          line-height: 20px; } }
    @media screen and (max-width: 320px) {
      .setMeal__text {
        font-size: 16px; }
        .setMeal__text span {
          font-size: 12px; } }
  .setMeal__btn {
    cursor: pointer;
    width: 100%;
    max-width: 420px;
    margin-top: 25px;
    background: #14378A;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    @media screen and (max-width: 992px) {
      .setMeal__btn {
        border-radius: 15px; } }
    .setMeal__btn a {
      position: relative;
      display: block;
      width: 100%;
      font-size: 28px;
      line-height: 41px;
      text-align: center;
      letter-spacing: 0.1em;
      padding: 15px 0px;
      color: #FFFFFF;
      cursor: pointer;
      overflow: hidden; }
      .setMeal__btn a:first-child::before {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px; }
      .setMeal__btn a:first-child::after {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px; }
      .setMeal__btn a:last-child::before {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px; }
      .setMeal__btn a:last-child::after {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px; }
      .setMeal__btn a::before, .setMeal__btn a::after {
        content: '';
        position: absolute;
        top: 0;
        left: -1px;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.2);
        transition: transform 0.3s;
        transform: translate(-100%, 0);
        transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
      .setMeal__btn a::after {
        transition-delay: 0.2s; }
      .setMeal__btn a:hover::before, .setMeal__btn a:hover::after {
        transform: translate(0, 0); }
      .setMeal__btn a span {
        z-index: 3;
        position: relative; }
      @media screen and (max-width: 992px) {
        .setMeal__btn a {
          font-size: 18px;
          line-height: 26px;
          padding: 6px 0px; } }
    .setMeal__btn > span {
      width: 1px;
      height: 36px;
      display: block;
      background-color: #FFF; }
      @media screen and (max-width: 992px) {
        .setMeal__btn > span {
          height: 20px; } }
    @media screen and (max-width: 992px) {
      .setMeal__btn {
        padding: 6px 0px; } }
  .setMeal__discount {
    width: 100%;
    max-width: 420px;
    font-size: 18px;
    line-height: 26px;
    color: #F5771A;
    margin-top: 10px;
    text-align: center; }
    @media screen and (max-width: 992px) {
      .setMeal__discount {
        font-size: 14px;
        line-height: 20px; } }

.step {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 40px; }
  .step > div:not(:last-child) {
    width: 45%; }
    .step > div:not(:last-child) img {
      width: 100%; }
    @media screen and (max-width: 992px) {
      .step > div:not(:last-child) {
        width: 100%; } }
  .step__item:last-child {
    margin-top: 30px; }
  .step__item p {
    font-size: 18px;
    line-height: 26px;
    color: #000000; }
    @media screen and (max-width: 992px) {
      .step__item p {
        font-size: 14px;
        line-height: 20px; } }
  .step__item:first-child h3::before {
    content: 'step1.'; }
  .step__item:last-child h3::before {
    content: 'step2.'; }
  .step__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 52px;
    color: #003E8D; }
    .step__title::before {
      font-size: 48px;
      line-height: 70px;
      display: flex;
      align-items: center;
      color: rgba(20, 55, 138, 0.5); }
    @media screen and (max-width: 992px) {
      .step__title {
        font-size: 24px;
        line-height: 35px; } }
  .step__btn {
    cursor: pointer;
    width: 100%;
    max-width: 500px;
    padding: 15px 0px;
    margin: auto;
    margin-top: 40px;
    background: #14378A;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; }
    .step__btn::before, .step__btn::after {
      content: '';
      border-radius: 25px;
      position: absolute;
      top: 0;
      left: -1px;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.2);
      transition: transform 0.3s;
      transform: translate(-100%, 0);
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
    .step__btn::after {
      transition-delay: 0.2s; }
    .step__btn:hover::before, .step__btn:hover::after {
      transform: translate(0, 0); }
    .step__btn a {
      overflow: hidden;
      z-index: 3;
      font-size: 28px;
      line-height: 41px;
      text-align: center;
      letter-spacing: 0.1em;
      color: #FFFFFF;
      cursor: pointer; }
      @media screen and (max-width: 992px) {
        .step__btn a {
          font-size: 18px;
          line-height: 26px; } }
    @media screen and (max-width: 992px) {
      .step__btn {
        padding: 12px 0px;
        border-radius: 15px; } }

.footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 100px;
  border: 8px solid #0161DD;
  background-color: #FFF; }
  @media screen and (max-width: 1200px) {
    .footer {
      width: 90%; } }
  @media screen and (max-width: 768px) {
    .footer {
      padding: 50px 20px; } }
  .footer__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    flex-wrap: wrap; }
    @media screen and (max-width: 992px) {
      .footer__info > div {
        width: 100%; } }
    .footer__info > div img {
      width: 100%;
      max-width: 186px; }
      @media screen and (max-width: 992px) {
        .footer__info > div img {
          max-width: 130px;
          display: block;
          margin: auto;
          margin-bottom: 15px; } }
    @media screen and (max-width: 992px) {
      .footer__info {
        justify-content: center; } }
  .footer__tel {
    font-size: 32px;
    color: #ea5404;
    font-weight: bold; }
    @media screen and (max-width: 992px) {
      .footer__tel {
        font-size: 18px; } }
    .footer__tel strong {
      font-size: 48px; }
      @media screen and (max-width: 992px) {
        .footer__tel strong {
          font-size: 28px; } }
  .footer__text {
    letter-spacing: 0.1em;
    font-size: 12px;
    line-height: 16px; }
  .footer__contant {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; }
    .footer__contant > div {
      position: relative;
      width: 20%; }
      @media screen and (min-width: 992px) {
        .footer__contant > div {
          padding: 0px 10px; }
          .footer__contant > div:not(:last-child)::after {
            content: '';
            width: 1px;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            background-color: #ccc; }
          .footer__contant > div:first-child {
            padding-left: 0; }
          .footer__contant > div:last-child {
            padding-right: 0; } }
      @media screen and (max-width: 992px) {
        .footer__contant > div {
          width: 100%;
          padding: 10px 0px; }
          .footer__contant > div:not(:last-child) {
            border-bottom: 1px solid #CCC; }
          .footer__contant > div:first-child {
            padding-top: 0; }
          .footer__contant > div:last-child {
            padding-bottom: 0; } }
  .footer__name {
    font-size: 15px;
    font-weight: 500; }
  .footer__addr {
    margin: 5px 0px; }
  .footer__waring {
    width: 100%;
    margin-top: 120px; }
    .footer__waring ul {
      width: 100%; }
    .footer__waring li {
      font-size: 15px;
      line-height: 22px;
      color: #000000;
      letter-spacing: 0.1em; }
      .footer__waring li:not(:last-child) {
        margin-bottom: 20px; }
      .footer__waring li span {
        text-decoration-line: underline;
        color: #E84C0B;
        font-weight: 500; }
      @media screen and (max-width: 992px) {
        .footer__waring li {
          font-size: 12px;
          line-height: 17px; } }

.fixed {
  position: fixed;
  bottom: 50px;
  right: -260px;
  transition: all .5s; }
  @media screen and (max-width: 992px) {
    .fixed {
      bottom: 0px;
      left: 0;
      right: 0px;
      transform: translateY(100%); } }
  @media screen and (max-width: 992px) and (max-width: 992px) {
    .fixed--animate {
      transform: translateY(0%); } }

  .fixed__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 320px; }
    @media screen and (max-width: 992px) {
      .fixed__container {
        width: 100%;
        flex-direction: unset; } }
  .fixed__item {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #FFF;
    transition: all .5s;
    cursor: pointer; }
    @media screen and (max-width: 992px) {
      .fixed__item {
        justify-content: center; } }
    .fixed__item:nth-of-type(1) {
      background-color: #EA5504; }
      @media screen and (max-width: 992px) {
        .fixed__item:nth-of-type(1) {
          width: 50%; } }
    .fixed__item:nth-of-type(2) {
      background-color: #FDBC46; }
      @media screen and (max-width: 992px) {
        .fixed__item:nth-of-type(2) {
          width: 50%; } }
    .fixed__item:nth-of-type(3) {
      background-color: #4E84CE; }
      @media screen and (max-width: 992px) {
        .fixed__item:nth-of-type(3) {
          width: 100%;
          justify-content: center; } }
    @media screen and (min-width: 992px) {
      .fixed__item:hover {
        transform: translateX(calc(-100% + 60px)); } }
  .fixed__icon {
    width: 28px;
    height: 28px;
    margin-right: 20px; }
    .fixed__icon img {
      width: 100%; }
  .fixed__tel span {
    background: #0C1949;
    border-radius: 50px;
    padding: 2px 9px;
    margin-left: 10px; }

@keyframes preload-show-1 {
  from {
    transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-1 {
  to {
    transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-1 {
  5% {
    transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  10%,
  75% {
    transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
    border-left-color: #fdcd00; }
  80%,
  100% {
    transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-show-2 {
  from {
    transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-2 {
  to {
    transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-2 {
  10% {
    transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  15%,
  70% {
    transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
    border-left-color: #fdcd00; }
  75%,
  100% {
    transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-show-3 {
  from {
    transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-3 {
  to {
    transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-3 {
  15% {
    transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  20%,
  65% {
    transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
    border-left-color: #fdcd00; }
  70%,
  100% {
    transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-show-4 {
  from {
    transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-4 {
  to {
    transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-4 {
  20% {
    transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  25%,
  60% {
    transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
    border-left-color: #fdcd00; }
  65%,
  100% {
    transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-show-5 {
  from {
    transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-5 {
  to {
    transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-5 {
  25% {
    transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  30%,
  55% {
    transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
    border-left-color: #fdcd00; }
  60%,
  100% {
    transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-show-6 {
  from {
    transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-6 {
  to {
    transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-6 {
  30% {
    transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  35%,
  50% {
    transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
    border-left-color: #fdcd00; }
  55%,
  100% {
    transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-flip {
  0% {
    transform: rotateY(0deg) rotateZ(-60deg); }
  100% {
    transform: rotateY(360deg) rotateZ(-60deg); } }
@keyframes preload-show-1 {
  from {
    transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-1 {
  to {
    transform: rotateZ(60deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-1 {
  5% {
    transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  10%,
  75% {
    transform: rotateZ(60deg) rotateY(0) rotateX(0deg);
    border-left-color: #fdcd00; }
  80%,
  100% {
    transform: rotateZ(60deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-show-2 {
  from {
    transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-2 {
  to {
    transform: rotateZ(120deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-2 {
  10% {
    transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  15%,
  70% {
    transform: rotateZ(120deg) rotateY(0) rotateX(0deg);
    border-left-color: #fdcd00; }
  75%,
  100% {
    transform: rotateZ(120deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-show-3 {
  from {
    transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-3 {
  to {
    transform: rotateZ(180deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-3 {
  15% {
    transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  20%,
  65% {
    transform: rotateZ(180deg) rotateY(0) rotateX(0deg);
    border-left-color: #fdcd00; }
  70%,
  100% {
    transform: rotateZ(180deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-show-4 {
  from {
    transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-4 {
  to {
    transform: rotateZ(240deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-4 {
  20% {
    transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  25%,
  60% {
    transform: rotateZ(240deg) rotateY(0) rotateX(0deg);
    border-left-color: #fdcd00; }
  65%,
  100% {
    transform: rotateZ(240deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-show-5 {
  from {
    transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-5 {
  to {
    transform: rotateZ(300deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-5 {
  25% {
    transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  30%,
  55% {
    transform: rotateZ(300deg) rotateY(0) rotateX(0deg);
    border-left-color: #fdcd00; }
  60%,
  100% {
    transform: rotateZ(300deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-show-6 {
  from {
    transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-hide-6 {
  to {
    transform: rotateZ(360deg) rotateY(-90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-cycle-6 {
  30% {
    transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; }
  35%,
  50% {
    transform: rotateZ(360deg) rotateY(0) rotateX(0deg);
    border-left-color: #fdcd00; }
  55%,
  100% {
    transform: rotateZ(360deg) rotateY(90deg) rotateX(0deg);
    border-left-color: #9c2f2f; } }
@keyframes preload-flip {
  0% {
    transform: rotateY(0deg) rotateZ(-60deg); }
  100% {
    transform: rotateY(360deg) rotateZ(-60deg); } }
.load {
  transition: all .2s;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100vh;
  background-color: #024095;
  z-index: 9999999;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center; }

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  display: block;
  width: 3.75em;
  height: 4.25em;
  margin-left: -1.875em;
  margin-top: -2.125em;
  transform-origin: center center;
  transform: rotateY(180deg) rotateZ(-60deg); }
  .preloader .slice {
    border-top: 1.125em solid transparent;
    border-right: none;
    border-bottom: 1em solid transparent;
    border-left: 1.875em solid #f7484e;
    position: absolute;
    top: 0px;
    left: 50%;
    transform-origin: left bottom;
    border-radius: 3px 3px 0 0; }
  .preloader .slice:nth-child(1) {
    transform: rotateZ(60deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.82s preload-hide-1 both 1; }
  .preloader .slice:nth-child(2) {
    transform: rotateZ(120deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.74s preload-hide-2 both 1; }
  .preloader .slice:nth-child(3) {
    transform: rotateZ(180deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.66s preload-hide-3 both 1; }
  .preloader .slice:nth-child(4) {
    transform: rotateZ(240deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.58s preload-hide-4 both 1; }
  .preloader .slice:nth-child(5) {
    transform: rotateZ(300deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.5s preload-hide-5 both 1; }
  .preloader .slice:nth-child(6) {
    transform: rotateZ(360deg) rotateY(0deg) rotateX(0);
    animation: 0.15s linear 0.42s preload-hide-6 both 1; }
  .preloader.loading {
    animation: 2s preload-flip steps(2) infinite both; }
    .preloader.loading .slice:nth-child(1) {
      transform: rotateZ(60deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-1 linear infinite both; }
    .preloader.loading .slice:nth-child(2) {
      transform: rotateZ(120deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-2 linear infinite both; }
    .preloader.loading .slice:nth-child(3) {
      transform: rotateZ(180deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-3 linear infinite both; }
    .preloader.loading .slice:nth-child(4) {
      transform: rotateZ(240deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-4 linear infinite both; }
    .preloader.loading .slice:nth-child(5) {
      transform: rotateZ(300deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-5 linear infinite both; }
    .preloader.loading .slice:nth-child(6) {
      transform: rotateZ(360deg) rotateY(90deg) rotateX(0);
      animation: 2s preload-cycle-6 linear infinite both; }

@keyframes human {
  from {
    background-position: 0 0; }
  to {
    background-position: 0 -300%; } }
@keyframes loop {
  from {
    background-position: 0 0; }
  to {
    background-position: 0 -200%; } }
.section {
  position: relative; }
  .section:nth-of-type(2) .coin {
    background-repeat: no-repeat;
    background-position: center; }
    @media screen and (max-width: 992px) {
      .section:nth-of-type(2) .coin {
        display: none; } }
    .section:nth-of-type(2) .coin:nth-of-type(1) {
      position: absolute;
      top: 50px;
      left: -350px;
      width: 190px; }
      .section:nth-of-type(2) .coin:nth-of-type(1) div {
        background-image: url("../images/coin-big-b.png"); }
        .section:nth-of-type(2) .coin:nth-of-type(1) div::before {
          content: '';
          padding-bottom: 93.684210%;
          display: block; }
    .section:nth-of-type(2) .coin:nth-of-type(2) {
      position: absolute;
      top: 10px;
      left: -90px;
      width: 102px; }
      .section:nth-of-type(2) .coin:nth-of-type(2) div {
        background-image: url("../images/coin-small-b.png"); }
        .section:nth-of-type(2) .coin:nth-of-type(2) div::before {
          content: '';
          padding-bottom: 95.098039%;
          display: block; }
    .section:nth-of-type(2) .coin:nth-of-type(3) {
      position: absolute;
      top: 150px;
      left: -170px;
      width: 250px; }
      .section:nth-of-type(2) .coin:nth-of-type(3) div {
        background-image: url("../images/coin-big-a.png"); }
        .section:nth-of-type(2) .coin:nth-of-type(3) div::before {
          content: '';
          padding-bottom: 95.652173%;
          display: block; }
  .section:nth-of-type(3) .coin {
    background-repeat: no-repeat;
    background-position: center; }
    @media screen and (max-width: 992px) {
      .section:nth-of-type(3) .coin {
        display: none; } }
    .section:nth-of-type(3) .coin:nth-of-type(1) {
      position: absolute;
      top: 10%;
      right: -240px;
      width: 90px; }
      .section:nth-of-type(3) .coin:nth-of-type(1) div {
        background-image: url("../images/coin-small-a.png"); }
        .section:nth-of-type(3) .coin:nth-of-type(1) div::before {
          content: '';
          padding-bottom: 93.333333%;
          display: block; }
    .section:nth-of-type(3) .coin:nth-of-type(2) {
      position: absolute;
      bottom: 12%;
      right: -230px;
      width: 190px; }
      .section:nth-of-type(3) .coin:nth-of-type(2) div {
        background-image: url("../images/coin-big-b.png"); }
        .section:nth-of-type(3) .coin:nth-of-type(2) div::before {
          content: '';
          padding-bottom: 93.684210%;
          display: block; }
  .section:nth-of-type(4) .coin {
    background-repeat: no-repeat;
    background-position: center; }
    @media screen and (max-width: 992px) {
      .section:nth-of-type(4) .coin {
        display: none; } }
    .section:nth-of-type(4) .coin:nth-of-type(1) {
      position: absolute;
      top: 6%;
      left: -190px;
      width: 253px; }
      .section:nth-of-type(4) .coin:nth-of-type(1) div {
        background-image: url("../images/coin-big-a.png"); }
        .section:nth-of-type(4) .coin:nth-of-type(1) div::before {
          content: '';
          padding-bottom: 95.652173%;
          display: block; }
    .section:nth-of-type(4) .coin:nth-of-type(2) {
      position: absolute;
      top: 26%;
      left: -300px;
      width: 90px; }
      .section:nth-of-type(4) .coin:nth-of-type(2) div {
        background-image: url("../images/coin-small-a.png"); }
        .section:nth-of-type(4) .coin:nth-of-type(2) div::before {
          content: '';
          padding-bottom: 93.333333%;
          display: block; }
    .section:nth-of-type(4) .coin:nth-of-type(3) {
      position: absolute;
      top: 48%;
      left: -100px;
      width: 102px; }
      .section:nth-of-type(4) .coin:nth-of-type(3) div {
        background-image: url("../images/coin-small-b.png"); }
        .section:nth-of-type(4) .coin:nth-of-type(3) div::before {
          content: '';
          padding-bottom: 95.098039%;
          display: block; }
    .section:nth-of-type(4) .coin:nth-of-type(4) {
      position: absolute;
      bottom: 36%;
      right: -360px;
      width: 253px; }
      .section:nth-of-type(4) .coin:nth-of-type(4) div {
        background-image: url("../images/coin-big-a.png"); }
        .section:nth-of-type(4) .coin:nth-of-type(4) div::before {
          content: '';
          padding-bottom: 95.652173%;
          display: block; }
    .section:nth-of-type(4) .coin:nth-of-type(5) {
      position: absolute;
      bottom: 8%;
      right: -120px;
      width: 190px; }
      .section:nth-of-type(4) .coin:nth-of-type(5) div {
        background-image: url("../images/coin-big-b.png"); }
        .section:nth-of-type(4) .coin:nth-of-type(5) div::before {
          content: '';
          padding-bottom: 93.684210%;
          display: block; }
  .section:nth-of-type(5) .coin {
    background-repeat: no-repeat;
    background-position: center; }
    @media screen and (max-width: 992px) {
      .section:nth-of-type(5) .coin {
        display: none; } }
    .section:nth-of-type(5) .coin:nth-of-type(1) {
      position: absolute;
      top: 6%;
      left: -250px;
      width: 190px; }
      .section:nth-of-type(5) .coin:nth-of-type(1) div {
        background-image: url("../images/coin-big-b.png"); }
        .section:nth-of-type(5) .coin:nth-of-type(1) div::before {
          content: '';
          padding-bottom: 93.684210%;
          display: block; }
    .section:nth-of-type(5) .coin:nth-of-type(2) {
      position: absolute;
      bottom: 15%;
      right: -250px;
      width: 253px; }
      .section:nth-of-type(5) .coin:nth-of-type(2) div {
        background-image: url("../images/coin-big-a.png"); }
        .section:nth-of-type(5) .coin:nth-of-type(2) div::before {
          content: '';
          padding-bottom: 95.652173%;
          display: block; }
    .section:nth-of-type(5) .coin:nth-of-type(3) {
      position: absolute;
      bottom: 20%;
      left: -310px;
      width: 90px; }
      .section:nth-of-type(5) .coin:nth-of-type(3) div {
        background-image: url("../images/coin-small-a.png"); }
        .section:nth-of-type(5) .coin:nth-of-type(3) div::before {
          content: '';
          padding-bottom: 93.333333%;
          display: block; }
  .section:nth-of-type(6) .coin {
    background-repeat: no-repeat;
    background-position: center; }
    @media screen and (max-width: 992px) {
      .section:nth-of-type(6) .coin {
        display: none; } }
    .section:nth-of-type(6) .coin:nth-of-type(1) {
      position: absolute;
      top: 10%;
      left: -150px;
      width: 190px; }
      .section:nth-of-type(6) .coin:nth-of-type(1) div {
        background-image: url("../images/coin-big-b.png"); }
        .section:nth-of-type(6) .coin:nth-of-type(1) div::before {
          content: '';
          padding-bottom: 93.684210%;
          display: block; }
    .section:nth-of-type(6) .coin:nth-of-type(2) {
      position: absolute;
      bottom: 15%;
      right: -250px;
      width: 102px; }
      .section:nth-of-type(6) .coin:nth-of-type(2) div {
        background-image: url("../images/coin-small-b.png"); }
        .section:nth-of-type(6) .coin:nth-of-type(2) div::before {
          content: '';
          padding-bottom: 95.098039%;
          display: block; }
