@charset "UTF-8";
@import "compass/reset";
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

$breakpoint-xl: 1200px;
$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body, html{
	position: relative;
    font-family: 'Noto Sans TC', '微軟正黑體';
    // background-color: #00378E;
}

@keyframes circle {
	from {
		transform: scale(1.15) rotate(-2deg);
	}
	to {
		transform: scale(1.15) rotate(2deg);
	}
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
    // overflow: hidden;
	// margin-top: 450px;
	&::before {
		content: '';
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: -2;
		background-image: url('../images/bg.jpg');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		@media screen and (max-width: $breakpoint-md) {
			background-image: url('../images/bg-m.jpg');
		}
	}
	&::after {
		content: '';
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background-image: url('../images/mask.png');
		background-size: 100% auto;
		background-position: center top;
		background-repeat: no-repeat;
		transform: scale(1.15) rotate(-2deg);
		z-index: -1;
		@media screen and (max-width: $breakpoint-md) {
			background-image: url('../images/mask-m.png');
		}
	}
}

.loop {
	&::after {
		animation: circle 5s linear alternate infinite;
	}
}

// .wow {
// 	overflow: hidden;
// }


.header {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	box-sizing: border-box;
	background-color: #fff;
	padding: 15px 40px;
	z-index: 1000;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
	@media screen and (max-width: $breakpoint-xl ) {
		padding: 10px 15px;
	}
	&__logo {
		width: 145px;
		height: auto;
		// @media screen and (max-width: $breakpoint-xl ) {
		// 	width: 100px;
		// }
	}
	&__hamburger {
		display: none;
		width: 30px;
		height: auto;
		margin-left: auto;
		cursor: pointer;
		z-index: 100;
		rect {
			transition: all 0.25s ease-out;
		}
		@media screen and (max-width: $breakpoint-xl ) {
			display: block;
		}
	}
	&__hamburgerOff {
		display: none;
	}

	&__hamburger--close {
		rect:nth-child(1) {
			fill: #000000;
			transform: translate(7px, -2px) rotate(45deg);
		}
		rect:nth-child(2) {
			fill: #000000;
			transform: translate(-15px, 10px) rotate(-45deg);
		}
		rect:nth-child(3) {
			opacity: 0;
		}
		// .header__hamburgerOn {
		// 	display: none;
		// }
		// .header__hamburgerOff {
		// 	display: block;
		// }
	}

}

.nav {
	margin-left: auto;
	color: #FFFFFF;
	@media screen and (max-width: $breakpoint-xl ) {
		// display: none;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    position: fixed;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background-color: rgba(255,255,255,0.9);
	    color: #000000;
	    opacity: 0;
	    visibility: hidden;
	    // transform: scale(1.1);
		transition: all 0.5s ease;

	    &--active {
	    	opacity: 1;
	    	visibility: visible;
	    	// transform: scale(1);
	    }
	}

	&__list {
		@media screen and (max-width: $breakpoint-xl ) {
			font-size: 1.4em;
			text-align: center;
		}

	}
	&__item {
		display: inline-block;
		margin-right: 2em;
		transition: color 0.1s ease-out;
		font-weight: 500;
		font-size: 18px;
		line-height: 26px;
		&:hover {
			a {
				color: #ea5404
			}
		}
		a {
			display: block;
			position: relative;
			color: #003E8D;

		}
		&:last-child {
			margin-right: 0;
		}
		@media screen and (max-width: $breakpoint-xl ) {
		    display: block;
		    // margin-right: 0;
		    margin: 30px 0;
		    color: #878787;

		}
	}
	
}



.human {
	z-index: 1;
    position: relative;
	opacity: 0;
	width: 100%;
	max-width: 600px;
	display: block;
	margin: auto;
    transform: translateY(120px);
    background-image: url('../images/human.png');
	animation: human 1.5s steps(3) infinite;
    background-size: 100% auto;
    // margin-top: -350px;
	// img {
	// 	width: 100%;
	// }
	&::before {
		content: '';
		padding-bottom: 83.842794%;
		display: block;
	}
	@media screen and (max-width: $breakpoint-lg) {
		transform: translateY(50px);
		max-width: 300px;

	}

}

main {
	width: 100%;
	max-width: 1200px;
	margin: 70px auto 0;
	@media screen and (max-width: $breakpoint-xl) {
		width: 90%;
	}
}

strong {
	font-weight: bold !important;
	span {
		font-size: 1.25em;
		color: red;
	}
}

.highlight {
	color: #E84C0B !important;
	font-size: 14px;
	line-height: 20px;
}


.intro {
	$this: &;
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	> div {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		width: 100%;
		max-width: 600px;
		// img {
		// 	width: 100%;
		// 	opacity: 0;
		// }
		@media screen and (max-width: $breakpoint-lg) {
			max-width: 320px;
		}
		&:nth-of-type(1) {
			#{$this}__loop {
				background-image: url('../images/a.png');
			}
		}
		&:nth-of-type(2) {
			#{$this}__loop {
				background-image: url('../images/b.png');
			}
		}
		@media screen and (max-width: $breakpoint-lg) {
			max-width: 320px;
		}
	}
	&__loop {
		opacity: 0;
		width: 100%;
		background-size: 100% auto;
		animation: loop 3s steps(2) infinite;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		&::before {
			content: '';
			padding-bottom: 83.842794%;
			display: block;
		}
	}
	&__sprite {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
}


main {
	// opacity: 0;
}





.section {
	$this: &;
	width: 100%;
	padding: 80px 100px;
	border-left: 8px solid #0161DD;
	border-right: 8px solid #0161DD;
	@media screen and (max-width: $breakpoint-md) {
		padding: 50px 20px;
	}
	&__loop {
		position: relative;
		width: 100%;
		max-width: 450px;
		background-size: 100% auto;
		animation: loop 2s steps(2) infinite;
		&::before {
			content: '';
			display: block;
			padding-bottom: 77.777777%;
		}
	}
	&__btn {
		cursor: pointer;
		overflow: hidden;
	}
	&:nth-of-type(1) {
		padding-top: 200px;
		margin-top: -120px;
		padding-bottom: 100px;
		border-radius: 20px 20px 0 0;
		border-top: 8px solid #0161DD;
		background: linear-gradient(178.17deg, #FFCE21 0.81%, #F7CE45 9.03%, #F7CE45 56.62%);
		
		#{$this}__text {
			text-align: center;
			color: #081E6A;			
			&:nth-of-type(2) {
				span {
					&::before {
						content: '，';
					}
					&::after {
						content: '，';
					}
					@media screen and (max-width: $breakpoint-lg) {
						display: block;
						&::before {
							content: '';
						}
						&::after {
							content: '';
						}
					}
				}
			}
			&:nth-of-type(3) {
				> span {
					display: none;
					@media screen and (min-width: breakpoint-lg) {
						display: block;
					}
				}
			}
		}
		#{$this}__btn {
			width: 100%;
			max-width: 500px;
			margin: auto;
			margin-top: 25px;
			background: #14378A;
			box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
			border-radius: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
			@media screen and (max-width: $breakpoint-lg) {
				border-radius: 15px;
			}
			a {
				position: relative;
				width: 49.9%;
				font-size: 28px;
				line-height: 41px;
				text-align: center;
				letter-spacing: 0.1em;
				color: #FFFFFF;
				cursor: pointer;
				padding: 15px 0px;
				overflow: hidden;
				@media screen and (max-width: $breakpoint-lg) {
					padding: 10px 0px;
					font-size: 18px;
					line-height: 26px;
				}
				&:first-child {
					&::before {
						border-top-left-radius: 25px;
						border-bottom-left-radius: 25px;
					}
					&::after {
						border-top-left-radius: 25px;
						border-bottom-left-radius: 25px;
					}
				}
				&:last-child {
					&::before {
						border-top-right-radius: 25px;
						border-bottom-right-radius: 25px;
					}
					&::after {
						border-top-right-radius: 25px;
						border-bottom-right-radius: 25px;
					}
				}
				&::before,
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: -1px;
					width: 100%;
					height: 100%;
					z-index: 1;
					background-color: rgba(0,0,0,0.2);
					transition: transform 0.3s;
					transform: translate(-100%,0);
					transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
				}
				&::after {
					transition-delay: 0.2s;
				}
				&:hover {
					&::before,
					&::after {
						transform: translate(0,0);
					}
				}
				span {
					z-index: 3;
					position: relative;
				}
			}
			
			> span {
				width: 1px;
				height: 36px;
				display: block;
				background-color: #FFF;
				@media screen and (max-width: $breakpoint-lg) {
					height: 20px;
				}
			}
		}
		@media screen and (max-width: $breakpoint-lg) {
			margin-top: -150px;
		}
		strong {
			span {
				@media screen and (max-width: $breakpoint-lg) {
					display: block;
				}
			}
		}
	}
	&__text {
		font-size: 18px;
		line-height: 26px;
		font-weight: 400;
		letter-spacing: 1px;
	}
	
	&:nth-of-type(2) {
		background-color: #14378A;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		@media screen and (max-width: $breakpoint-lg) {
			justify-content: flex-start;
		}
		#{$this}__loop {
			background-image: url('../images/time&money.png')
		}
		> div {
			width: 50%;
			@media screen and (max-width: $breakpoint-lg) {
				width: 100%;
			}
			// img {
			// 	width: 100%;
			// 	max-width: 492px;
			// 	display: block;
			// 	margin: auto;
			// }
		}
		.title {
			color: #FFFFFF;
		    margin-bottom: 40px;
			span {
				@media screen and (min-width: $breakpoint-lg) {
					&::before {
						content: '，';
					}
				}
				@media screen and (max-width: $breakpoint-lg) {
					display: block;
				}
			}
			@media screen and (max-width: $breakpoint-lg) {
				text-align: left
			}
		}
		#{$this}__text {
			color: #FFF;
			@media screen and (max-width: $breakpoint-lg) {
				font-size: 14px;
				line-height: 20px;
			}
		}
		#{$this}__btn {
			position: relative;
			overflow: hidden;
			width: 100%;
			max-width: 500px;
			margin-top: 25px;
			background: #FFC805;
			box-shadow: 5px 5px 0px rgba(255, 253, 253, 0.5);
			border-radius: 25px;
			padding: 20px 0px;
			display: flex;
			justify-content: center;
			align-items: center;
			@media screen and (max-width: $breakpoint-lg) {
				border-radius: 15px;
			}
			&::before,
			&::after {
				content: '';
				border-radius: 25px;
				position: absolute;
				top: 0;
				left: -1px;
				width: 100%;
				height: 100%;
				z-index: 1;
				background-color: rgba(0,0,0,0.2);
				transition: transform 0.3s;
				transform: translate(-100%,0);
				transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
			}
			&::after {
				transition-delay: 0.2s;
			}

			&:hover {
				&::before,
				&::after {
					transform: translate(0,0);
				}
			}

			a {
				position: relative;
				z-index: 3;
				font-weight: bold;
				font-size: 28px;
				line-height: 41px;
				text-align: center;
				letter-spacing: 0.1em;
				color: #14378A;
				&::after {
					content: ' 搶先進場';
				}
				@media screen and (max-width: $breakpoint-lg) {
					font-size: 18px;
					line-height: 26px;
					&::after {
						content: '搶先進場';
						display: block;
					}
				}
			}
			@media screen and (max-width: $breakpoint-lg) {
				padding: 6px 0px;
			}
		}
		
	}
	&:nth-of-type(3) {
		background: linear-gradient(178.17deg, #FFCE21 0.81%, #F7CE45 9.03%, #F7CE45 56.62%);
		.title {
			color: #003E8D;
			text-align: center;
			&__sub {
				color: #003E8D;
			}
		}
		#{$this}__text {
			color: #222;
			&:nth-last-child(2) {
				color: #003E8D;
				position: relative;
				strong {
					font-size: 36px;
					line-height: 52px;
				}
				span {
					position: relative;
					// &:after {
					// 	content: '';
					// 	width: 28px;
					// 	background-image: url('../images/win.png');
					// 	background-position: center;
					// 	background-repeat: no-repeat;
					// 	background-size: cover;
					// 	display: inline-block;
					// 	position: absolute;
					// 	bottom: 0;
					//     right: -90px;
					// }
					@media screen and (max-width: $breakpoint-md) {
						display: block;
						margin-top: 20px;	
						// &:after {
						// 	right: 0px;
						// 	bottom: 15px;
						// }
					}
				}
				img {
					width: 80px;
					@media screen and (max-width: $breakpoint-md) {
						width: 50px;
						position: absolute;
						bottom: 40px;
					    right: 0px;
					}
					// display: inline-block;
					// position: absolute;
					// bottom: 0;
				 //    right: -90px;

				}
			}
			&:nth-last-child(1) {
				color: #000;
			}
			@media screen and (max-width: $breakpoint-lg) {
				font-size: 14px;
				line-height: 20px;
			}
		}
		> div {
			width: 100%;
			img {
				width: 100%;
			}
		}
	}
	&:nth-of-type(4) {
		background-color: #FFF;
		.title {
			color: #003E8D;
			text-align: center;
			@media screen and (max-width: $breakpoint-lg) {
				text-align: left;
			}
		}
		#{$this}__text {
			text-align: center;
			@media screen and (max-width: $breakpoint-lg) {
				font-size: 14px;
				line-height: 20px;
				text-align: left;
			}
		}
		
	}
	&:nth-of-type(5) {
		background: linear-gradient(178.17deg, #FFCE21 0.81%, #F7CE45 9.03%, #F7CE45 56.62%);
		.title {
			color: #003E8D;
			text-align: center;
		}
		#{$this}__loop {
			background-image: url('../images/computer.png')
		}
		#{$this}__text {
			text-align: center;
			margin-top: 20px;
			@media screen and (max-width: $breakpoint-lg) {
				font-size: 14px;
				line-height: 20px;
				text-align: left;
			}
			&:last-child {
				text-align: center;
			}
			> span {
				&:nth-of-type(1) {
					@media screen and (max-width: $breakpoint-sm) {
						display: block;
					}
					&::after {
						content: '，';
						@media screen and (max-width: $breakpoint-lg) {
							content: '，現在就透過線上開戶';
						}
					}
				}
				&:nth-of-type(2) {
					display: block;
					&::after {
						content: '現在就透過線上開戶，和大家一起加入投資吧！';
						@media screen and (max-width: $breakpoint-lg) {
							content: '和大家一起加入投資吧！';
						}
					}
				}
			}
		}
		
	}
	&:nth-of-type(6) {
		position: relative;
		background-color: #14378A;
		.title {
			color: #FFF;
			@media screen and (max-width: $breakpoint-lg) {
				span {
					display: block;
				}
			}
		}
		#{$this}__text {
			color: #FFF;
			margin-top: 40px;
			width: 67%;
			@media screen and (max-width: $breakpoint-lg) {
				width: 100%;
				font-size: 14px;
				line-height: 20px;
				text-align: justify;
			}
		}
		img {
			position: absolute;
			bottom: 0;
			right: 40px;
			display: block;
			width: 100%;
			max-width: 275px;
			@media screen and (max-width: $breakpoint-lg) {
				width: 100%;
				position: unset;
				margin: auto;
			}
		}
		a {
			color: #FFF;
			text-decoration: underline;
		}
		@media screen and (max-width: $breakpoint-lg) {
			padding-bottom: 0;
		}
	}
	&:nth-of-type(7) {
		background-color: #FFF;
		.title {
			color: #003E8D;
			text-align: center;
		}
		#{$this}__text {
			@media screen and (max-width: $breakpoint-lg) {
				font-size: 14px;
				line-height: 20px;
				text-align: justify;
			}
		}
	}
}

.title {
	font-weight: 900;
	font-size: 58px;
	line-height: 72px;
	letter-spacing: 0.05em;
	&__sub {
		font-weight: bold;
		font-size: 24px;
		line-height: 35px;
		@media screen and (max-width: $breakpoint-lg) {
			font-size: 14px;
			line-height: 20px;
		}
	}
	@media screen and (max-width: $breakpoint-lg) {
		font-size: 28px;
		line-height: 41px;
	}
}

.setMeal {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	.section__loop {
		background-image: url('../images/women.png')
	}
	> div {
		width: 50%;
		img {
			width: 100%;
		}
		@media screen and (max-width: $breakpoint-lg) {
			width: 100%;
			&:first-child {
				margin-bottom: 20px;
			}
		}
	}
	&:last-child {
		margin-top: 60px;
		flex-direction: row-reverse;		
		.section__loop {
			background-image: url('../images/men.png')
		}
		@media screen and (max-width: $breakpoint-lg) {
			flex-direction: unset;
		}

	}
	&__title {
		font-weight: bold;
		font-size: 36px;
		line-height: 52px;
		color: #003E8D;
		span {
			display: block;
			font-size: 18px;
			line-height: 26px;
			letter-spacing: 0.05em;
			color: #003E8D;
		}
		@media screen and (max-width: $breakpoint-lg) {
			font-size: 24px;
			line-height: 35px;
			span {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
	&__item {
		width: 100%;
		border-left: 4px solid rgba(0, 0, 0, 0.8);
		&:nth-of-type(1) {
			margin-bottom: 15px;
		}
	}
	&__text {
		padding-left: 15px;
		font-weight: bold;
		font-size: 28px;
		line-height: 41px;
		color: #000000;
		span {
			display: block;
			font-weight: normal;
			font-size: 18px;
			line-height: 26px;
			color: #000;
		}
		@media screen and (max-width: $breakpoint-lg) {
			font-size: 18px;
			line-height: 26px;
			span {
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
	&__btn {
		cursor: pointer;
		width: 100%;
		max-width: 420px;
		margin-top: 25px;
		background: #14378A;
		box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
		border-radius: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		@media screen and (max-width: $breakpoint-lg) {
			border-radius: 15px;
		}
		a {
			position: relative;
			display: block;
			width: 49.9%;
			// background: #14378A;
			// box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
			// border-radius: 25px;
			// padding: 15px 0px;
			font-size: 28px;
			line-height: 41px;
			text-align: center;
			letter-spacing: 0.1em;
			padding: 15px 0px;
			color: #FFFFFF;
			cursor: pointer;
			overflow: hidden;
			@media screen and (max-width: $breakpoint-lg) {
				font-size: 18px;
				line-height: 26px;
				padding: 6px 0px;
			}
			&:first-child {
				&::before {
					border-top-left-radius: 25px;
					border-bottom-left-radius: 25px;
				}
				&::after {
					border-top-left-radius: 25px;
					border-bottom-left-radius: 25px;
				}
			}
			&:last-child {
				&::before {
					border-top-right-radius: 25px;
					border-bottom-right-radius: 25px;
				}
				&::after {
					border-top-right-radius: 25px;
					border-bottom-right-radius: 25px;
				}
			}
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: -1px;
				width: 100%;
				height: 100%;
				z-index: 1;
				background-color: rgba(0,0,0,0.2);
				transition: transform 0.3s;
				transform: translate(-100%,0);
				transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
			}
			&::after {
				transition-delay: 0.2s;
			}
			&:hover {
				&::before,
				&::after {
					transform: translate(0,0);
				}
			}
			
			span {
				z-index: 3;
				position: relative;
			}
		}
		> span {
			width: 1px;
			height: 36px;
			display: block;
			background-color: #FFF;
		}
		@media screen and (max-width: $breakpoint-lg) {
			padding: 6px 0px;
		}
		// span {
		// 	@media screen and (max-width: $breakpoint-lg) {
		// 		display: block;
		// 	}
		// }
	}
	&__discount {
		width: 100%;
		max-width: 420px; 
		font-size: 18px;
		line-height: 26px;
		color: #F5771A;
		margin-top: 10px;
		text-align: center;
		@media screen and (max-width: $breakpoint-lg) {
			font-size: 14px;
			line-height: 20px;
		}
	}
}

.step {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 40px;
	> div:not(:last-child) {
		width: 45%;
		img {
			width: 100%;
		}
		@media screen and (max-width: $breakpoint-lg) {
			width: 100%;
		}
	}
	&__item {
		&:last-child {
			margin-top: 30px;
		}
		p {
			font-size: 18px;
			line-height: 26px;
			color: #000000;
			@media screen and (max-width: $breakpoint-lg) {
				font-size: 14px;
				line-height: 20px;
			}
		}

		&:first-child {
			h3::before {
				content: 'step1.';
			};
		}
		&:last-child {
			h3::before {
				content: 'step2.';
			};
		}
	}
	&__title {
		font-weight: bold;
		font-size: 36px;
		line-height: 52px;
		color: #003E8D;
		&::before {
			font-size: 48px;
			line-height: 70px;
			display: flex;
			align-items: center;
			color: rgba(20, 55, 138, 0.5);
		}
		@media screen and (max-width: $breakpoint-lg) {
			font-size: 24px;
			line-height: 35px;
		}
	}
	
	&__btn {
		cursor: pointer;
		width: 100%;
		max-width: 500px;
		padding: 15px 0px;
		margin: auto;
		margin-top: 40px;
		background: #14378A;
		box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
		border-radius: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		overflow: hidden;
		&::before,
		&::after {
			content: '';
			border-radius: 25px;
			position: absolute;
			top: 0;
			left: -1px;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-color: rgba(0,0,0,0.2);
			transition: transform 0.3s;
			transform: translate(-100%,0);
			transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		}
		&::after {
			transition-delay: 0.2s;
		}
		&:hover {
			&::before,
			&::after {
				transform: translate(0,0);
			}
		}
		a {
			// width: 49.9%;
			z-index: 3;
			font-size: 28px;
			line-height: 41px;
			text-align: center;
			letter-spacing: 0.1em;
			color: #FFFFFF;
			cursor: pointer;
			@media screen and (max-width: $breakpoint-lg) {
				font-size: 18px;
				line-height: 26px;
			}
		}
		@media screen and (max-width: $breakpoint-lg) {
			padding: 12px 0px;
			border-radius: 15px;
		}
	}
}

.footer {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
    padding: 80px 100px;
    border: 8px solid #0161DD;

	@media screen and (max-width: $breakpoint-xl) {
		width: 90%;
	}
	@media screen and (max-width: $breakpoint-md) {
		padding: 50px 20px;
	}
	background-color: #FFF;
	&__info {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
		flex-wrap: wrap;
		> div {
			@media screen and (max-width: $breakpoint-lg) {
				width: 100%;
			}
			img {
				width: 100%;
				max-width: 186px;
				@media screen and (max-width: $breakpoint-lg) {
					max-width: 130px;
					display: block;
					margin: auto;
					margin-bottom: 15px;
				}

			}
		}
		@media screen and (max-width: $breakpoint-lg) {
			justify-content:center;
		}
	}
	&__tel {
		font-size: 32px;
		color: #ea5404;
		font-weight: bold;
		@media screen and (max-width: $breakpoint-lg) {
			font-size: 18px;
		}
		strong {
			font-size: 48px;
			@media screen and (max-width: $breakpoint-lg) {
				font-size: 28px;
			}
		}
	}
	&__text {
		letter-spacing: 0.1em;
		font-size: 12px;
		line-height: 16px;
	}
	&__contant {
		width: 100%;
		margin-top: 30px;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-wrap: wrap;
		> div {
			position: relative;
			width: 20%;
			@media screen and (min-width: $breakpoint-lg) {
				padding: 0px 10px;
				&:not(:last-child) {
					&::after {
						content: '';
						width: 1px;
						height: 100%;
						display: block;
						position: absolute;
						top: 0;
						right: 0;
						background-color: #ccc;
					}
				}
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
				}
			}
			@media screen and (max-width: $breakpoint-lg) {
				width: 100%;
				padding: 10px 0px;
				&:not(:last-child) {
					border-bottom: 1px solid #CCC;
				}
				&:first-child {
					padding-top: 0;
				}
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
	}
	&__name {
		font-size: 15px;
		font-weight: 500;
	}
	&__addr {
		margin: 5px 0px;
	}
	&__waring {
		width: 100%;
		margin-top: 120px;
		ul {
			width: 100%;
		}
		li {
			font-size: 15px;
			line-height: 22px;
			color: #000000;
			letter-spacing: 0.1em;
			&:not(:last-child) {
				margin-bottom: 20px;
			}
			span {
				text-decoration-line: underline;
				color: #E84C0B;
				font-weight: 500;
			}
			@media screen and (max-width: $breakpoint-lg) {
				font-size: 12px;
				line-height: 17px;
			}
		}
	}
}

.fixed {
	position: fixed;
	bottom: 50px;
    right: -260px;
	transition: all .5s;

    @media screen and (max-width: $breakpoint-lg) {
		bottom: 0px;
		left: 0;
	    right: 0px;
		transform: translateY(100%);
	    &--animate {
			@media screen and (max-width: $breakpoint-lg) {
				transform: translateY(0%);
			}
		}

	}
	&__container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		width: 320px;
		@media screen and (max-width: $breakpoint-lg) {
			width: 100%;
			flex-direction: unset;
		}
	}
	&__item {
		width: 100%;
		padding: 15px;
		font-size: 18px;
		line-height: 26px;
		text-align: center;
		letter-spacing: 0.1em;
		font-weight: bold;
		display: flex;
    	justify-content: flex-start;
    	align-items: center;
    	color: #FFF;
		transition: all .5s;
		cursor: pointer;
		@media screen and (max-width: $breakpoint-lg) {
		    justify-content: center;
		}
    	&:nth-of-type(1) {
    		background-color: #EA5504;
    		@media screen and (max-width: $breakpoint-lg) {
    			width: 50%;
    		}
    	}
    	&:nth-of-type(2) {
    		background-color: #FDBC46;
    		@media screen and (max-width: $breakpoint-lg) {
    			width: 50%;
    		}
    	}
    	&:nth-of-type(3) {
    		background-color: #4E84CE;
    		@media screen and (max-width: $breakpoint-lg) {
    			width: 100%;
			    justify-content: center;
    		}
    	}
    	@media screen and (min-width: $breakpoint-lg) {
	    	&:hover {
	    		transform: translateX( calc(-100% + 60px))
	    	}
    	}

	}
	&__icon {
		width: 28px;
		height: 28px;
		margin-right: 20px;
		img {
			width: 100%;
		}
	}
	&__tel {
		span {
			background: #0C1949;
			border-radius: 50px;
			padding: 2px 9px;
			margin-left: 10px;
		}
	}
}

@for $i from 1 through 6 {
 @keyframes preload-show-#{$i}{
  from{
   transform: rotateZ(60* $i + deg) rotateY(-90deg) rotateX(0deg);
   border-left-color: #9c2f2f;
  }
 }
 @keyframes preload-hide-#{$i}{
  to{
   transform: rotateZ(60* $i + deg) rotateY(-90deg) rotateX(0deg);
   border-left-color: #9c2f2f;
  }
 }

 @keyframes preload-cycle-#{$i}{
  
  $startIndex: $i*5;
  $reverseIndex: (80 - $i*5);

  #{$startIndex * 1%}{
   transform: rotateZ(60* $i + deg) rotateY(90deg) rotateX(0deg);
   border-left-color: #9c2f2f;
  }
  #{$startIndex + 5%},
  #{$reverseIndex * 1%}{
   transform: rotateZ(60* $i + deg) rotateY(0) rotateX(0deg);
   border-left-color: #fdcd00;
  }

  #{$reverseIndex + 5%},
  100%{
   transform: rotateZ(60* $i + deg) rotateY(90deg) rotateX(0deg);
   border-left-color: #9c2f2f;
  }
 }
}

@keyframes preload-flip{
 0%{
  transform: rotateY(0deg) rotateZ(-60deg);
 }
 100%{
  transform: rotateY(360deg) rotateZ(-60deg);
 }
}


@for $i from 1 through 6 {
 @keyframes preload-show-#{$i}{
  from{
   transform: rotateZ(60* $i + deg) rotateY(-90deg) rotateX(0deg);
   border-left-color: #9c2f2f;
  }
 }
 @keyframes preload-hide-#{$i}{
  to{
   transform: rotateZ(60* $i + deg) rotateY(-90deg) rotateX(0deg);
   border-left-color: #9c2f2f;
  }
 }

 @keyframes preload-cycle-#{$i}{
  
  $startIndex: $i*5;
  $reverseIndex: (80 - $i*5);

  #{$startIndex * 1%}{
   transform: rotateZ(60* $i + deg) rotateY(90deg) rotateX(0deg);
   border-left-color: #9c2f2f;
  }
  #{$startIndex + 5%},
  #{$reverseIndex * 1%}{
   transform: rotateZ(60* $i + deg) rotateY(0) rotateX(0deg);
   border-left-color: #fdcd00;
  }

  #{$reverseIndex + 5%},
  100%{
   transform: rotateZ(60* $i + deg) rotateY(90deg) rotateX(0deg);
   border-left-color: #9c2f2f;
  }
 }
}

@keyframes preload-flip{
 0%{
  transform: rotateY(0deg) rotateZ(-60deg);
 }
 100%{
  transform: rotateY(360deg) rotateZ(-60deg);
 }
}


.load {
	transition: all .2s;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100vh;
	background-color: #024095;
	z-index: 9999999;
	background-image: url('../images/bg.jpg');
	background-size: cover;
	background-position: center;
}

.preloader{
  position: absolute;
  top: 50%;
  left: 50%;
 font-size: 20px;
 display: block;
 width: 3.75em;
 height: 4.25em;
 margin-left: -1.875em;
  margin-top: -2.125em;
 transform-origin: center center;
 transform: rotateY(180deg) rotateZ(-60deg);

 .slice{
  border-top: 1.125em solid transparent;
  border-right: none;
  border-bottom: 1em solid transparent;
  border-left: 1.875em solid #f7484e;
  position: absolute;
  top: 0px;
  left: 50%;
  transform-origin: left bottom;
  border-radius: 3px 3px 0 0;
 }

 @for $i from 1 through 6 {
   .slice:nth-child(#{$i}) { 
    transform: rotateZ(60* $i + deg) rotateY(0deg) rotateX(0);
    animation: .15s linear .9 - $i*.08s preload-hide-#{$i} both 1;
   }
 }


 &.loading{
  animation: 2s preload-flip steps(2) infinite both;
  @for $i from 1 through 6 {
    .slice:nth-child(#{$i}) { 
     transform: rotateZ(60* $i + deg) rotateY(90deg) rotateX(0);
     animation: 2s preload-cycle-#{$i} linear infinite both;
    }
  }
 }

}

@keyframes human {
	from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -300%;
    }

}

@keyframes loop {
	from {
        background-position: 0 0;
    }
    to {
        background-position: 0 -200%;
    }
}



.section {
	$this: &;
	position: relative;
	&:nth-of-type(2) {
		.coin {
			@media screen and (max-width: $breakpoint-lg) {
				display: none;
			}
			background-repeat: no-repeat;
			background-position: center;
			&:nth-of-type(1) {
				position: absolute;
				top: 50px;
				left: -350px;
				width: 190px;
				div {
					background-image: url('../images/coin-big-b.png');
					&::before {
						content: '';
						padding-bottom: 93.684210%;
						display: block;
					}
				}
			}
			&:nth-of-type(2) {
				position: absolute;
				top: 10px;
				left: -90px;
				width: 102px;
				div {
					background-image: url('../images/coin-small-b.png');
					&::before {
						content: '';
						padding-bottom: 95.098039%;
						display: block;
					}

				}
			}
			&:nth-of-type(3) {
				position: absolute;
				top: 150px;
				left: -170px;
				width: 250px;
				div {
					background-image: url('../images/coin-big-a.png');
					&::before {
						content: '';
						padding-bottom: 95.652173%;
						display: block;
					}
				}
			}
		}
	}
	&:nth-of-type(3) {
		.coin {
			@media screen and (max-width: $breakpoint-lg) {
				display: none;
			}
			background-repeat: no-repeat;
			background-position: center;
			&:nth-of-type(1) {
				position: absolute;
				bottom: 38%;
    			right: -460px;
				width: 253px;
				div {
					background-image: url('../images/coin-big-a.png');
					&::before {
						content: '';
						padding-bottom: 95.652173%;
						display: block;
					}
				}
			}
			&:nth-of-type(2) {
				position: absolute;
				top: 10%;
    			right: -240px;
				width: 90px;
				div {
					background-image: url('../images/coin-small-a.png');
					&::before {
						content: '';
						padding-bottom: 93.333333%;
						display: block;
					}

				}
			}
			&:nth-of-type(3) {
				position: absolute;
				bottom: 12%;
    			right: -230px;
				width: 190px;
				div {
					background-image: url('../images/coin-big-b.png');
					&::before {
						content: '';
						padding-bottom: 93.684210%;
						display: block;
					}
				}
			}
		}
	}
	&:nth-of-type(4) {
		.coin {
			@media screen and (max-width: $breakpoint-lg) {
				display: none;
			}
			background-repeat: no-repeat;
			background-position: center;
			&:nth-of-type(1) {
				position: absolute;
				top: 6%;
    			left: -190px;
				width: 253px;
				div {
					background-image: url('../images/coin-big-a.png');
					&::before {
						content: '';
						padding-bottom: 95.652173%;
						display: block;
					}
				}
			}
			&:nth-of-type(2) {
				position: absolute;
				top: 26%;
    			left: -300px;
				width: 90px;
				div {
					background-image: url('../images/coin-small-a.png');
					&::before {
						content: '';
						padding-bottom: 93.333333%;
						display: block;
					}

				}
			}
			&:nth-of-type(3) {
				position: absolute;
				top: 48%;
    			left: -100px;
				width: 102px;
				div {
					background-image: url('../images/coin-small-b.png');
					&::before {
						content: '';
						padding-bottom: 95.098039%;
						display: block;
					}
				}
			}
			&:nth-of-type(4) {
				position: absolute;
				bottom: 36%;
    			right: -360px;
				width: 253px;
				div {
					background-image: url('../images/coin-big-a.png');
					&::before {
						content: '';
						padding-bottom: 95.652173%;
						display: block;
					}
				}
			}
			&:nth-of-type(5) {
				position: absolute;
				bottom: 8%;
    			right: -120px;
				width: 190px;
				div {
					background-image: url('../images/coin-big-b.png');
					&::before {
						content: '';
						padding-bottom: 93.684210%;
						display: block;
					}
				}
			}
		}
	}
	&:nth-of-type(5) {
		.coin {
			@media screen and (max-width: $breakpoint-lg) {
				display: none;
			}
			background-repeat: no-repeat;
			background-position: center;		

			&:nth-of-type(1) {
				position: absolute;
				top: 6%;
				left: -250px;
				width: 190px;
				div {
					background-image: url('../images/coin-big-b.png');
					&::before {
						content: '';
						padding-bottom: 93.684210%;
						display: block;
					}
				}
			}
			&:nth-of-type(2) {
				position: absolute;
				bottom: 15%;
				right: -250px;
				width: 253px;
				div {
					background-image: url('../images/coin-big-a.png');
					&::before {
						content: '';
						padding-bottom: 95.652173%;
						display: block;
					}
				}
			}
			&:nth-of-type(3) {
				position: absolute;
				bottom: 20%;
				left: -310px;
				width: 90px;
				div {
					background-image: url('../images/coin-small-a.png');
					&::before {
						content: '';
						padding-bottom: 93.333333%;
						display: block;
					}

				}
			}
		}
	}
	&:nth-of-type(6) {
		.coin {
			@media screen and (max-width: $breakpoint-lg) {
				display: none;
			}
			background-repeat: no-repeat;
			background-position: center;		

			&:nth-of-type(1) {
				position: absolute;
				top: 10%;
				left: -150px;
				width: 190px;
				div {
					background-image: url('../images/coin-big-b.png');
					&::before {
						content: '';
						padding-bottom: 93.684210%;
						display: block;
					}
				}
			}
			&:nth-of-type(2) {
				position: absolute;
				bottom: 15%;
				right: -250px;
				width: 102px;
				div {
					background-image: url('../images/coin-small-b.png');
					&::before {
						content: '';
						padding-bottom: 95.098039%;
						display: block;
					}
				}
			}
		}
	}
	&:nth-of-type(1) {}
}